# Set up packages and dataframes

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StringType, ArrayType
from pyspark.ml.feature import CountVectorizer

import os
import numpy as np
from nltk.stem.snowball import SnowballStemmer
import re
import regex

spark = SparkSession.builder.getOrCreate()

In [2]:
DATA_FOLDER = 'data/'

transactions = spark.read.options(    
        header=True,  
        inferSchema=True
    ).csv(
        os.path.join(DATA_FOLDER, 'sales_train.csv'), 
    )

items = spark.read.options(    
        header=True,  
        inferSchema=True
    ).csv(
        os.path.join(DATA_FOLDER, 'items.csv'), 
    )

item_categories = spark.read.options(    
        header=True,  
        inferSchema=True
    ).csv(
        os.path.join(DATA_FOLDER, 'item_categories.csv'), 
    )

shops = spark.read.options(    
        header=True,  
        inferSchema=True
    ).csv(
        os.path.join(DATA_FOLDER, 'shops.csv'), 
    )

test = spark.read.options(    
        header=True,  
        inferSchema=True
    ).csv(
        os.path.join(DATA_FOLDER, 'test.csv'), 
    )

# EDA

## Look at dataframes

Print the top 10 rows and the total number of rows.

In [11]:
print('Total number of rows: {}'.format(transactions.count()))
transactions.show(10)

print('Total number of rows: {}'.format(items.count()))
items.show(10)

print('Total number of rows: {}'.format(item_categories.count()))
item_categories.show(10)

print('Total number of rows: {}'.format(shops.count()))
shops.show(10)

print('Total number of rows: {}'.format(test.count()))
test.show(10)

Total number of rows: 2935849
+----------+--------------+-------+-------+----------+------------+
|      date|date_block_num|shop_id|item_id|item_price|item_cnt_day|
+----------+--------------+-------+-------+----------+------------+
|02.01.2013|             0|     59|  22154|     999.0|         1.0|
|03.01.2013|             0|     25|   2552|     899.0|         1.0|
|05.01.2013|             0|     25|   2552|     899.0|        -1.0|
|06.01.2013|             0|     25|   2554|   1709.05|         1.0|
|15.01.2013|             0|     25|   2555|    1099.0|         1.0|
|10.01.2013|             0|     25|   2564|     349.0|         1.0|
|02.01.2013|             0|     25|   2565|     549.0|         1.0|
|04.01.2013|             0|     25|   2572|     239.0|         1.0|
|11.01.2013|             0|     25|   2572|     299.0|         1.0|
|03.01.2013|             0|     25|   2573|     299.0|         3.0|
+----------+--------------+-------+-------+----------+------------+
only showing top 10 rows

Total number of rows: 22170
+--------------------+-------+----------------+--------------------+--------------------+
|           item_name|item_id|item_category_id|   stemmed_item_name|       bow_item_name|
+--------------------+-------+----------------+--------------------+--------------------+
|! ВО ВЛАСТИ НАВАЖ...|      0|              40|[во, власт, наваж...|(13086,[22,1050,3...|
|!ABBYY FineReader...|      1|              76|[abbyy, fineread,...|(13086,[0,1,4,19,...|
|***В ЛУЧАХ СЛАВЫ ...|      2|              40|[в, луч, слав, un...|(13086,[13,22,244...|
|***ГОЛУБАЯ ВОЛНА ...|      3|              40|[голуб, волн, uni...|(13086,[22,668,10...|
|***КОРОБКА (СТЕКЛ...|      4|              40|  [коробк, стекл, d]|(13086,[22,629,15...|
|***НОВЫЕ АМЕРИКАН...|      5|              40|[нов, американск,...|(13086,[22,62,698...|
|***УДАР ПО ВОРОТА...|      6|              40|[удар, по, ворот,...|(13086,[22,56,116...|
|***УДАР ПО ВОРОТА...|      7|              40|[удар, по, ворот,...|(13086,[22,56,116...|
|***ЧАЙ С МУССОЛИН...|      8|              40|[ча, с, муссолин, d]|(13086,[7,22,4432...|
|***ШУГАРЛЭНДСКИЙ ...|      9|              40|[шугарлэндск, экс...|(13086,[22,1162,3...|
+--------------------+-------+----------------+--------------------+--------------------+
only showing top 10 rows

Total number of rows: 84
+--------------------+----------------+--------------------------+----------------------+
|  item_category_name|item_category_id|stemmed_item_category_name|bow_item_category_name|
+--------------------+----------------+--------------------------+----------------------+
|PC - Гарнитуры/На...|               0|      [pc, гарнитур, на...|  (96,[12,57,84],[1...|
|    Аксессуары - PS2|               1|           [аксессуар, ps]|  (96,[4,6],[1.0,1.0])|
|    Аксессуары - PS3|               2|           [аксессуар, ps]|  (96,[4,6],[1.0,1.0])|
|    Аксессуары - PS4|               3|           [аксессуар, ps]|  (96,[4,6],[1.0,1.0])|
|    Аксессуары - PSP|               4|          [аксессуар, psp]|  (96,[6,20],[1.0,1...|
| Аксессуары - PSVita|               5|       [аксессуар, psvita]|  (96,[6,17],[1.0,1...|
|Аксессуары - XBOX...|               6|         [аксессуар, xbox]|  (96,[6,9],[1.0,1.0])|
|Аксессуары - XBOX...|               7|      [аксессуар, xbox,...|  (96,[6,9,19],[1.0...|
|      Билеты (Цифра)|               8|             [билет, цифр]|  (96,[3,27],[1.0,1...|
|     Доставка товара|               9|          [доставк, товар]|  (96,[66,83],[1.0,...|
+--------------------+----------------+--------------------------+----------------------+
only showing top 10 rows

Total number of rows: 60
+--------------------+-------+--------------------+--------------------+
|           shop_name|shop_id|   stemmed_shop_name|       bow_shop_name|
+--------------------+-------+--------------------+--------------------+
|!Якутск Орджоники...|      0|[якутск, орджоник...|(110,[6,20,34],[1...|
|"!Якутск ТЦ ""Цен...|      1|[якутск, тц, цент...|(110,[0,6,9,20],[...|
|"Адыгея ТЦ ""Мега"""|      2|    [адыге, тц, мег]|(110,[0,3,103],[1...|
|"Балашиха ТРК ""О...|      3|[балаших, трк, ок...|(110,[4,52,66,99]...|
|"Волжский ТЦ ""Во...|      4|[волжск, тц, волг...|(110,[0,11,38,101...|
|"Вологда ТРЦ ""Ма...|      5|[вологд, трц, мар...|(110,[2,61,77],[1...|
|Воронеж (Плеханов...|      6|[воронеж, плехано...|(110,[12,105],[1....|
|"Воронеж ТРЦ ""Ма...|      7|[воронеж, трц, ма...|(110,[2,12,106],[...|
|"Воронеж ТРЦ Сити...|      8|[воронеж, трц, си...|(110,[2,12,25,42,...|
|   Выездная Торговля|      9|   [выездн, торговл]|(110,[80,97],[1.0...|
+--------------------+-------+--------------------+--------------------+
only showing top 10 rows

Total number of rows: 214200
+---+-------+-------+
| ID|shop_id|item_id|
+---+-------+-------+
|  0|      5|   5037|
|  1|      5|   5320|
|  2|      5|   5233|
|  3|      5|   5232|
|  4|      5|   5268|
|  5|      5|   5039|
|  6|      5|   5041|
|  7|      5|   5046|
|  8|      5|   5319|
|  9|      5|   5003|
+---+-------+-------+
only showing top 10 rows

We see that in the training dataset, there are 2935849 transactions, 22170 items, 84 item categories and 60 shops.

# Feature Extraction

## Join all data onto the transactions dataframe

Upon inspection, one sees that all features appearing in the training dataframes above can be joined onto the transactions dataframe using the appropriate ID.

In [ ]:
transactions.createOrReplaceTempView('transactions')
items.createOrReplaceTempView('items')

transactions = spark.sql(('SELECT transactions.*, items.item_name, items.item_category_id '
                  ' FROM transactions '
                  ' LEFT JOIN items '
                  '  ON transactions.item_id = items.item_id '))

In [ ]:
transactions.createOrReplaceTempView('transactions')
item_categories.createOrReplaceTempView('item_categories')

transactions = spark.sql(('SELECT transactions.*, item_categories.item_category_name '
                  ' FROM transactions '
                  ' LEFT JOIN item_categories '
                  '  ON transactions.item_category_id = item_categories.item_category_id '))

In [ ]:
transactions.createOrReplaceTempView('transactions')
shops.createOrReplaceTempView('shops')

transactions = spark.sql(('SELECT transactions.*, shops.shop_name '
                  ' FROM transactions '
                  ' LEFT JOIN shops '
                  '  ON transactions.shop_id = shops.shop_id '))

## Extract the day, month and year from the date.

In [ ]:
transactions = transactions.withColumn('date', F.to_date(transactions.date, format='dd.MM.yyyy'))

In [ ]:
transactions = transactions.withColumn('day', F.dayofyear(transactions.date))
transactions = transactions.withColumn('month', F.month(transactions.date))
transactions = transactions.withColumn('year', F.year(transactions.date))

## Extract text-based features

### Stem the text

Define a stemmer that can handle both Russian and English text using nltk's Snowball Stemmer.

In [3]:
en_stemmer = SnowballStemmer('english')
ru_stemmer = SnowballStemmer('russian')

cyr_regex = regex.compile('\p{Cyrillic}+', regex.UNICODE)
lat_regex = regex.compile('\p{Latin}+', regex.UNICODE)

In [4]:
def clean_text(text):
    """ Removes punctuation from string, unwanted unicode characters, and numbers. Returns in lowercase.
    
    Args:
        text (str): The text to clean.
    
    Returns:
        The cleaned text after filtered by the regex expression and made lowercase.
    
    For more information on the unicode categories used in the regex expression see here:
    https://www.regular-expressions.info/unicode.html#category
    
    >>> clean_text("!$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ Can't, - Trademark™ ...「（Punctuation）」42.32 ?")
    cant trademark punctuation
    
    """
    # remove URLs
    text = re.sub(r"http\S+", "", text)
    # remove apostrophes 
    text = text.replace("'", "")
    
    # Define regex unicode Categories and strip from string
    remove = regex.compile('[\p{C}|\p{M}|\p{P}|\p{S}|\p{Z}|\p{N}]+', regex.UNICODE)
    text = remove.sub(" ", text).strip()
    
    # make lowercase
    text = text.lower()
    
    return text

def stemmer(text):
    """Identify the words written in Cyrillic and Latin characters in a string,
    and apply a Russian or English stemmer, respectively.
    
    Args:
        text(str): The string whose Cyrillic and Latin text will be stemmed.
    
    Returns:
        A stemmed version of the text.
    """
    if text is None:
        return []
    
    text = clean_text(text)

    words = re.split('\s', text)
    stemmed_word_list = []
    for word in words:
        ru = regex.search(cyr_regex, word)
        en = regex.search(lat_regex, word)
        if ru:
            stemmed_word = ru_stemmer.stem(word)
        elif en:
            stemmed_word = en_stemmer.stem(word)
        else:
            stemmed_word = word
        stemmed_word_list.append(stemmed_word)
    
    return stemmed_word_list

Demonstrate function on sample text from the dataset.

In [5]:
text = '(Кино) - Blu-Ray'

stemmer(text)

['кин', 'blu', 'ray']

Apply stemmer to columns containing text.

In [6]:
udf_stemmer = F.udf(stemmer, ArrayType(StringType(), True))

In [8]:
items = items.withColumn('stemmed_item_name', udf_stemmer(items.item_name))
item_categories = item_categories.withColumn('stemmed_item_category_name', udf_stemmer(item_categories.item_category_name))
shops = shops.withColumn('stemmed_shop_name', udf_stemmer(shops.shop_name))

### Vectorize using bag of words

In [9]:
cv = CountVectorizer()

In [10]:
cv.setInputCol('stemmed_item_name')
cv.setOutputCol('bow_item_name')
model = cv.fit(items)
model.setInputCol('stemmed_item_name')
items = model.transform(items)
               
cv.setInputCol('stemmed_item_category_name')
cv.setOutputCol('bow_item_category_name')
model = cv.fit(item_categories)
model.setInputCol('stemmed_item_category_name')
item_categories = model.transform(item_categories)

cv.setInputCol('stemmed_shop_name')
cv.setOutputCol('bow_shop_name')
model = cv.fit(shops)
model.setInputCol('stemmed_shop_name')
shops = model.transform(shops)

### Join the results onto the transactions dataframe

In [12]:
transactions.createOrReplaceTempView('transactions')
items.createOrReplaceTempView('items')

transactions = spark.sql(('SELECT transactions.*, items.bow_item_name, items.item_category_id '
                  ' FROM transactions '
                  ' LEFT JOIN items '
                  '  ON transactions.item_id = items.item_id '))

In [13]:
transactions.createOrReplaceTempView('transactions')
item_categories.createOrReplaceTempView('item_categories')

transactions = spark.sql(('SELECT transactions.*, item_categories.bow_item_category_name '
                  ' FROM transactions '
                  ' LEFT JOIN item_categories '
                  '  ON transactions.item_category_id = item_categories.item_category_id '))

In [14]:
transactions.createOrReplaceTempView('transactions')
shops.createOrReplaceTempView('shops')

transactions = spark.sql(('SELECT transactions.*, shops.bow_shop_name '
                  ' FROM transactions '
                  ' LEFT JOIN shops '
                  '  ON transactions.shop_id = shops.shop_id '))

## Display the resulting dataframe.

In [15]:
transactions.limit(10).toPandas()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,bow_item_name,item_category_id,bow_item_category_name,bow_shop_name
0,02.01.2013,0,59,22154,999.00,1.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",37,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,03.01.2013,0,25,2552,899.00,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",58,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
2,05.01.2013,0,25,2552,899.00,-1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",58,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
3,06.01.2013,0,25,2554,1709.05,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",58,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
4,15.01.2013,0,25,2555,1099.00,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...",56,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
5,10.01.2013,0,25,2564,349.00,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",59,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
6,02.01.2013,0,25,2565,549.00,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",56,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
7,04.01.2013,0,25,2572,239.00,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",55,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
8,11.01.2013,0,25,2572,299.00,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",55,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
9,03.01.2013,0,25,2573,299.00,3.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",55,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."